<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (empleados(); as empleadosRef) {
      <div>
        <h2 data-cy="empleadosDetailsHeading"><span jhiTranslate="evsum2App.empleados.detail.title">Empleados</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ empleadosRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="evsum2App.empleados.nombreempleado">Nombreempleado</span></dt>
          <dd>
            <span>{{ empleadosRef.nombreempleado }}</span>
          </dd>
          <dt><span jhiTranslate="evsum2App.empleados.apellidoempleado">Apellidoempleado</span></dt>
          <dd>
            <span>{{ empleadosRef.apellidoempleado }}</span>
          </dd>
          <dt><span jhiTranslate="evsum2App.empleados.telefonoempleado">Telefonoempleado</span></dt>
          <dd>
            <span>{{ empleadosRef.telefonoempleado }}</span>
          </dd>
          <dt><span jhiTranslate="evsum2App.empleados.correoempleado">Correoempleado</span></dt>
          <dd>
            <span>{{ empleadosRef.correoempleado }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/empleados', empleadosRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
