<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-empleados-heading" data-cy="EmpleadosCreateUpdateHeading" jhiTranslate="evsum2App.empleados.home.createOrEditLabel">
        Crear o editar Empleados
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="evsum2App.empleados.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombreempleado" jhiTranslate="evsum2App.empleados.nombreempleado">Nombreempleado</label>
          <input
            type="text"
            class="form-control"
            name="nombreempleado"
            id="field_nombreempleado"
            data-cy="nombreempleado"
            formControlName="nombreempleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_apellidoempleado" jhiTranslate="evsum2App.empleados.apellidoempleado"
            >Apellidoempleado</label
          >
          <input
            type="text"
            class="form-control"
            name="apellidoempleado"
            id="field_apellidoempleado"
            data-cy="apellidoempleado"
            formControlName="apellidoempleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefonoempleado" jhiTranslate="evsum2App.empleados.telefonoempleado"
            >Telefonoempleado</label
          >
          <input
            type="text"
            class="form-control"
            name="telefonoempleado"
            id="field_telefonoempleado"
            data-cy="telefonoempleado"
            formControlName="telefonoempleado"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_correoempleado" jhiTranslate="evsum2App.empleados.correoempleado">Correoempleado</label>
          <input
            type="text"
            class="form-control"
            name="correoempleado"
            id="field_correoempleado"
            data-cy="correoempleado"
            formControlName="correoempleado"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
