<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (departamentosJefes(); as departamentosJefesRef) {
      <div>
        <h2 data-cy="departamentosJefesDetailsHeading">
          <span jhiTranslate="evsum2App.departamentosJefes.detail.title">Departamentos Jefes</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ departamentosJefesRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="evsum2App.departamentosJefes.departamentos">Departamentos</span></dt>
          <dd>
            @if (departamentosJefes()!.departamentos) {
              <div>
                <a [routerLink]="['/departamentos', departamentosJefes()!.departamentos?.id, 'view']">{{
                  departamentosJefesRef.departamentos?.nombredepartamento
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="evsum2App.departamentosJefes.jefes">Jefes</span></dt>
          <dd>
            @if (departamentosJefes()!.jefes) {
              <div>
                <a [routerLink]="['/jefes', departamentosJefes()!.jefes?.id, 'view']">{{ departamentosJefesRef.jefes?.nombrejefe }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/departamentos-jefes', departamentosJefesRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
